  
<h1>Edit <%= @destination.name %></h1>

<form action="/destinations/<%=@destination.id %>" method="POST">
  <label> Destination Name </label>
  <input type="text" name="name" value="<%=@destination.name %>"> </br>

  <label> Destination Description </label>
  <input type="text" name="description" value="<%=@destination.description%>"> </br>

  <label> Destination Country </label>
  <select name="country_id">
    <% current_user.countries.each do |country| %>
      <option value=<%=country.id %> <%= "selected" if country.id==@destination.country.id %> ><%= country.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>