 <%= @destination.name %><br />
  <%= @destination.description %> <br />
  Country: <a href="/bags/<%=@destination.country.id%>"><%= @destination.country.name %></a> <br />
  <a href="/destinations/<%=@destination.id%>/edit">Edit</a>
  <br />
  <br />